<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>!Admin, welcome to the Spring Boot Security page!</h1>
<h3><a href="/admin/add">New User</a></h3>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.firstname}">Firstname</td>
        <td th:text="${user.lastname}">Lastname</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.password}">Password</td>
        <td th:each="role : ${user.authorities}" th:text="${role}">ROLE</td>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit User</a>
            <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/logout}">Logout</a>
</body>
</html>
