<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Admin Panel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-link.active {
            text-align: center;
        }
        .nav-link.active1 {
            background-color: #007bff;
            color: white;
            text-align: center;
        }
        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .centered-form .form-wrapper {
            width: 50%;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <span class="navbar-text">
        <span th:text="${currentUser.username}">Username</span>
        with
        <span th:each="role : ${currentUser.authorities}" th:text="${role.authority} + ' '">Roles</span>
    </span>
    <div class="ml-auto">
        <a th:href="@{/logout}">Logout</a>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active1" href="/admin/allUsers">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">User</a>
                </li>
            </ul>
        </div>
        <div class="main-content col-10">
            <h1>Admin panel</h1>
            <div class="tabs">
                <button class="tab active btn btn-primary" onclick="showTab('all-users', event)">All Users</button>
                <button class="tab btn btn-secondary" onclick="showTab('new-user', event)">New User</button>
            </div>
            <div class="tab-content" id="all-users">
                <div class="card">
                    <div class="card-header">
                        All Users
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}">ID</td>
                                <td th:text="${user.firstname}"></td>
                                <td th:text="${user.lastname}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.email}"></td>
                                <td>
                                    <ul>
                                        <li th:each="role : ${user.roles}" th:text="${role.name}">Roles</li>
                                    </ul>
                                </td>
                                <td>
                                    <button class="btn btn-info"
                                            th:data-id="${user.id}"
                                            th:data-firstname="${user.firstname}"
                                            th:data-lastname="${user.lastname}"
                                            th:data-age="${user.age}"
                                            th:data-email="${user.email}"
                                            th:data-username="${user.username}"
                                            th:data-password="${user.password}"
                                            onclick="editUser(this)">Edit</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                            th:data-id="${user.id}"
                                            th:data-firstname="${user.firstname}"
                                            th:data-lastname="${user.lastname}"
                                            th:data-age="${user.age}"
                                            th:data-email="${user.email}"
                                            th:data-username="${user.username}"
                                            th:data-password="${user.password}"
                                            onclick="showDeleteModal(this)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="new-user" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        Add New User
                    </div>
                    <div class="card-body centered-form">
                        <div class="form-wrapper">
                            <form th:action="@{/admin/add}" method="post">
                                <div class="form-group">
                                    <label for="firstname">Firstname:</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Lastname:</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                                </div>
                                <div class="form-group">
                                    <label for="age">Age:</label>
                                    <input type="text" class="form-control" id="age" name="age" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="roles">Roles:</label>
                                    <select class="form-control" id="roles" name="roles" multiple required>
                                        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Add User</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="editUserForm" method="post">
                                <input type="hidden" id="edit-id" name="id">
                                <div class="form-group">
                                    <label for="edit-firstname">Firstname:</label>
                                    <input type="text" class="form-control" id="edit-firstname" name="firstname" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-lastname">Lastname:</label>
                                    <input type="text" class="form-control" id="edit-lastname" name="lastname" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-age">Age:</label>
                                    <input type="text" class="form-control" id="edit-age" name="age" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-email">Email:</label>
                                    <input type="email" class="form-control" id="edit-email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-username">Username:</label>
                                    <input type="text" class="form-control" id="edit-username" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-password">Password:</label>
                                    <input type="password" class="form-control" id="edit-password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-roles">Roles</label>
                                    <select class="form-control" id="edit-roles" name="roles" multiple required>
                                        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="deleteUserForm" method="post">
                                <input type="hidden" id="delete-id" name="id">
                                <input type="hidden" name="_method" value="DELETE">
                                <div class="form-group">
                                    <label for="delete-firstname">Firstname:</label>
                                    <input type="text" class="form-control" id="delete-firstname" name="firstname" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="delete-lastname">Lastname:</label>
                                    <input type="text" class="form-control" id="delete-lastname" name="lastname" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="delete-age">Age:</label>
                                    <input type="text" class="form-control" id="delete-age" name="age" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="delete-email">Email:</label>
                                    <input type="email" class="form-control" id="delete-email" name="email" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="delete-username">Username:</label>
                                    <input type="text" class="form-control" id="delete-username" name="username" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="delete-password">Password:</label>
                                    <input type="password" class="form-control" id="delete-password" name="password" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="delete-roles">Roles</label>
                                    <select class="form-control" id="delete-roles" name="roles" multiple readonly>
                                        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete User</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="../static/js/admin.js"></script>

</body>
</html>
