<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <div class="container mt-5">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"/><br>
    </div>
    <div class="container mt-5">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"/><br>
    </div>
    <div class="container mt-5">
        <button type="submit">Login</button>
    </div>
    <div class="container mt-5" th:if="${param.error}">
        Invalid username or password.
    </div>
    <div class="container mt-5" th:if="${param.logout}">
        You have logged out.
    </div>
</form>
<div class="container mt-5">
    <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
</div>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>