<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Register Admin</title>
</head>
<body>
    <h1>Register Admin</h1>
    <form th:action="@{/registerAdmin}" th:object="${user}" method="post">
        <div>
            <label for="firstname">Firstname: </label>
            <input type="text" id="firstname" name="firstname">
        </div>
        <div>
            <label for="lastname">Lastname: </label>
            <input type="text" id="lastname" name="lastname">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" id="password" name="password">
        </div>
        <div>
            <button type="submit">Register Admin</button>
        </div>
    </form>
</body>
</html>