<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Register</h1>
    <form id="register-form">

            <label for="firstname">Firstname: </label>
            <input type="text" id="firstname" name="firstname">

            <label for="lastname">Lastname: </label>
            <input type="text" id="lastname" name="lastname">

            <label for="age">Age: </label>
            <input type="text" id="age" name="age">

            <label for="email">Email: </label>
            <input type="text" id="email" name="email">

            <label for="username">Username: </label>
            <input type="text" id="username" name="username">

            <label for="password">Password: </label>
            <input type="text" id="password" name="password">

            <label for="roles">Roles</label>
            <select id="roles" name="roles" th:field="*{user.roles}"></select><br>

            <button type="submit">Register</button>
    </form>
    <script src="src/main/resources/registr.js"></script>
</body>
</html>