<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>User Information Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-link.active {
            background-color: #007bff;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">User Info</a>
    <span class="navbar-text">
        <span th:text="${user.username}">Username</span>
        with
        <span th:each="role : ${user.roles}" th:text="${role.name} + ' '">Role</span>
    </span>
    <div class="ml-auto">
        <a th:href="@{/logout}">Logout</a>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <h1>User Information Page</h1>
            <div class="card mt-3">
                <div class="card-header">
                    About User
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.id}">ID</td>
                            <td th:text="${user.firstname}">Firstname</td>
                            <td th:text="${user.lastname}">Lastname</td>
                            <td th:text="${user.age}">Age</td>
                            <td th:text="${user.email}">Email</td>
                            <td>
                                <ul>
                                    <li th:each="role : ${user.roles}" th:text="${role.name}">Roles</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
