<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>User Information Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-link.active {
            background-color: #007bff;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>User Details</h1>
<p><strong>ID</strong><span id="user-id"></span></p>
<p><strong>First Name</strong><span id="user-firstname"></span></p>
<p><strong>Last Name</strong><span id="user-lastname"></span></p>
<p><strong>Age</strong><span id="user-age"></span></p>
<p><strong>Email</strong><span id="user-email"></span></p>
<p><strong>Roles</strong><span id="user-roles"></span></p>

<script src="src/main/resources/user.js"></script>
</body>
</html>
