<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .nav-link.active1 {
            background-color: #007bff;
            color: white;
            text-align: center;
        }

        .navbar-text1 {
            color: white;
        }
        .navbar-text2 {
            color: white;
        }
        .navbar .logout-link {
            color: grey;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <span class="navbar-text">
            <span id="username" class="navbar-text1"> with</span>
            <span id="roles" class="navbar-text2">Roles</span>
        </span>
    <div class="ml-auto">
        <a th:href="@{/logout}" class="logout-link">Logout</a>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active1" href="#" onclick="loadUserPage()">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <h1>User Information Page</h1>
            <div class="card mt-3">
                <div class="card-header">
                    About User
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="user-info">
                        <!--USER_DATA-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
